body {
  background-color: rgb(59, 59, 59);
}
#container {
  background-color: gray;
  width: 65%;
  max-width: 800px;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
